.calc-form {
  margin-bottom: 60px;
  &-row {
    @extend %tf-clearfix;
  }
  &-6-md-row {
    float: left;
    width: span(12);
    @include tf-padding-left-right(10px);
    @include breakpoint($break-md) {
      width: span(6);
    }
  }
  label {
    display: block;
  }
  input {
    @include mm-make-input-style($mm-dark-primary-color, $mm-color-black, $color-white, 100%);
    @include mm-margin-vertical(10px);
  }
  button {
    @include mm-make-button-style($color-white, $mm-color-black, $mm-button-add-color, 160px);
    @include mm-margin-vertical(30px);
  }
}

#calc-input-x {
  border-color: #9C27B0;
}
