.calc {
  max-width: 500px;
  margin: 0 auto;
  &-bottom {
    margin-top: 50px;
    button {
      @include mm-make-button-style($color-white, $mm-color-black, $mm-button-delete-color, 124px);
    }
  }
  h2,
  strong {
    color: $mm-primary-color;
  }
  h2 {
    @include mm-margin-vertical(30px);
  }
  h3 {
    @include mm-margin-vertical(30px);
    color: $mm-primary-color;
  }
}
