// -----------------------------------------------------------------------------
// misc
// -----------------------------------------------------------------------------
$default-padding: 30px;
// -----------------------------------------------------------------------------
// breakpoints
// -----------------------------------------------------------------------------
// main
$break-xs: tf-em-size(0); // 0em
$break-sm: tf-em-size(768); // 48em
$break-md: tf-em-size(1024); // 64em
$break-lg: tf-em-size(1280); // 80em
$break-xl: tf-em-size(1440); // 90em
// additional
$break-xs-sm: tf-em-size(480); // 48em
$break-md-lg: tf-em-size(1120); // 70em
// -----------------------------------------------------------------------------
// susy config
// -----------------------------------------------------------------------------
// inside-static, 120px and 15px gives 15px padding
$susy: (global-box-sizing: border-box, columns: 12, column-width: 120px, gutter: $default-padding/120px, math: fluid, output: float, gutter-position: inside-static);
// -----------------------------------------------------------------------------
// max-width
// -----------------------------------------------------------------------------
$max-width: 1600px;
// -----------------------------------------------------------------------------
// colors - podstawowe
// -----------------------------------------------------------------------------
$color-black: #111;
$color-white: #fff;
$color-main: #bada55;
$color-secondary: hotpink;
$color-transparent: transparent;
$color-blind: $color-transparent;
$color-gray: #999;
// -----------------------------------------------------------------------------
// colors - Michał Milanowski
// -----------------------------------------------------------------------------
$mm-light-primary-color: #FFECB3;
$mm-primary-color: #FFC107;
$mm-dark-primary-color: #FFA000;
$mm-color-gray: #212121;
$mm-color-black: #000000;
$mm-button-delete-color: #E91E63;
$mm-button-add-color: #8BC34A;
// -----------------------------------------------------------------------------
// base url for assets
// -----------------------------------------------------------------------------
$base-url: '../' !default;
// -----------------------------------------------------------------------------
// transition
// -----------------------------------------------------------------------------
$trans-hover: 250ms;
// -----------------------------------------------------------------------------
// font stack
// -----------------------------------------------------------------------------
$text-font-stack: Roboto,
Arial,
sans-serif;
// -----------------------------------------------------------------------------
// z-indexy
// -----------------------------------------------------------------------------
$z-indexes: ('cosmos': 8000, 'cookie': 6000, 'sitenav': 3, 'default': 1, 'zero': 0, 'below': -1,);
