// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba($color-black, 0);
}

body {
  min-height: 100%;
  background-color: $color-black;
  //&.disabled-scroll {
  //  overflow: hidden;
  //}
}

a {
  color: $color-main;
  text-decoration: none;
}
