// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  width: 100%;
  height: 48px;
  background-color: $color-secondary;
  padding: $default-padding;

  @include breakpoint($break-md) {
    background-color: $color-black;
  }
}
